{% extends "base.html" %} {% from 'productMacro.html' import productForm %} {%
from 'macros.html' import sectionForm,ticketForm, adminTicketView %} {% block
content %} {% if message %}
<div class="alert alert-warning" role="alert">{{message}}</div>
{% endif %} {% if current_user.isAdmin %}
<h4 style="color: antiquewhite">Admin View only</h4>
{% else %}
<h4 style="color: antiquewhite">Manager View only</h4>
{% endif %}
<br />
<h6 style="color: antiquewhite">Add a new product</h6>
{{productForm(addProductForm,sections)}}
<br />
{{sectionForm(sectionFormProps,sections)}} {% if current_user.isAdmin %}
<h6 style="color: antiquewhite">Remove a section</h6>
<form
  method="POST"
  action="{{url_for('editSection',kwargs={'action':'remove'})}}"
>
  <select name="sectionToRemove" id="sectionToRemove">
    {% for sec in sections %}
    <option value="{{ sec }}" selected>{{ sec }}</option>
    {% endfor %}
  </select>
  <input type="submit" name="Submit" value="Submit" />
</form>
{% endif %} {% if current_user.isAdmin %}
<h6 style="color: antiquewhite">Requests</h6>
{% for ticket in raisedTickets %} {{adminTicketView(ticket)}} {% endfor %} {%
else %} {{ticketForm(raiseTicketForm)}} {% endif %} {% endblock %}
