{% from 'productMacro.html' import productForm,productCard %} {% extends
"base.html" %} {% block displayUserName %}
<a class="nav-link" style="color: rgb(86, 86, 86)"
  >Welcome {{current_user.username}}</a
>
{% endblock %} {% block content %} {% if message %}
<div class="alert alert-warning" role="alert">{{message}}</div>
{% endif %}

<h6 style="color: rgb(86, 86, 86)">Fresh in store</h6>
<div class="row">
  {% for productData in freshProducts %}
  <div>{{productCard(productData)}}</div>
  {% endfor %}
</div>

<hr class="hr hr-blurry" />

<div class="row">
  {% for productData in productDataArray %}
  <div>{{productCard(productData)}}</div>
  {% endfor %}
</div>
{% endblock %}
