
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<div class="login_box" style="display: flex; flex-direction: column; width:15rem; margin-left:40%;">
        <h1>Login</h1>
        <input type="text" placeholder="Username/Email">
        <input type="text" placeholder="Password">
        <button>Submit</button><button>Reset</button>
        <a href="{{url_for('register')}}">Dont have and account? Sign up</a>
    </div>
</body>
</html>