{% from "macros.html" import regLoginForm %} {% extends "base.html" %} {% block
content%}
<body>
  {% if error %}
  <div class="alert alert-warning" role="alert">{{error}}</div>
  {% endif %}
  <div
    style="
      height: 20rem;
      width: 30rem;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      border-radius: 1rem;
      background-color: aliceblue;
      justify-content: center;
      position: relative;
      left: 35%;
      top: 10rem;
    "
  >
    <div style="margin-bottom: 2rem; width: 100%">
      <form method="post" action="/">
        <input
          class="btn btn-info"
          style="width: 45%; height: 3rem"
          type="submit"
          value="Login"
          name="loginAction"
        />
        <input
          class="btn btn-info"
          style="width: 45%; margin-left: 2.2rem; height: 3rem"
          type="submit"
          value="Register"
          name="registerAction"
        />
      </form>
    </div>
    {{regLoginForm(form)}}
  </div>
</body>
{% endblock %}
