{% from 'productMacro.html' import productCard %} {% extends "base.html" %} {%
block displayUserName %}
<a class="nav-link" style="color: rgb(86, 86, 86)"
  >Welcome {{current_user.username}}</a
>
{% endblock %} {% block content %}
<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
  "
>
  <div class="dropdown show">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Explore sections
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% for section in sections %}
      <a
        class="dropdown-item"
        href='{{url_for("sections",sectionCategory = section)}}'
        >{{section.capitalize()}}</a
      >
      {% endfor %}
      <a class="dropdown-item" href='{{url_for("sections")}}'> View all </a>
    </div>
  </div>
  {% if sectionCategory %}
  <h6 style="color: rgb(86, 86, 86)">{{sectionCategory.capitalize()}}</h6>
  {% else %}
  <h6 style="color: rgb(86, 86, 86)">Viewing all</h6>
  {% endif %}
</div>

<div class="row">
  {% for product in productDataArray %} {{productCard(product)}} {% endfor %}
</div>
{% endblock %}
